<h1>About Us</h1>
<div class="jumbotron">
  <h1 class="display-4">Hello, welcome!</h1>
  <p class="lead">welcome to the Jungle e-commerce Application built with Rails</p>
  <hr class="my-4">
  <p>Blandit netus dolor nibh purus sollicitudin. Ultrices euismod magnis sociis nisl odio rhoncus cubilia diam cursus. Dictum justo proin commodo quisque nullam ipsum magna ullamcorper! Tristique egestas ac facilisis molestie pellentesque semper felis duis quis mollis habitant. Primis rhoncus felis aenean sed sagittis fringilla. Magna et hendrerit nibh aenean nec est sociosqu elementum arcu aliquet. Etiam sociosqu nulla faucibus per fermentum nisi, parturient consequat luctus accumsan magnis. Habitant dapibus lobortis tellus id. Lectus rhoncus nunc quisque cras netus dapibus aenean. Quisque semper dapibus dolor magna pulvinar conubia lectus et euismod dapibus suspendisse lacinia?</p>
</div>